body {
    background-color: #003399;
}

form {
    display: block;
    position: relative;
}

input {
    margin-left: 40%;
    transform: translateX(-50%);
    border-radius: 5px;
    align-items: center;
    color: #003399;
}

h1, h2 {
    text-align: center;
    color: aliceblue;
}

dt, dd {
    color: aliceblue;
    margin-top: 10px;
}

input:hover {
    background-color: #003399;
    color: aliceblue;
}