body {
    background-color: #003399;
}

form {
    display: block;
    position: relative;
}

fieldset legend {
    color: aliceblue;
}

[type="text"]{
    width: 75%;
    border-radius: 5px;
    margin: 1% 10%;
}

[value="Generate Articles"], [value="Add New Content"] {
    display: block;
    margin: 1% 40%;
    border-radius: 5px;
    align-items: center;
    color: #003399;
}

h1, h2 {
    text-align: center;
    color: aliceblue;
}

dt, dd {
    color: aliceblue;
    margin-top: 10px;
}

input:hover {
    background-color: #003399;
    color: aliceblue;
}